* {
  background-color: #171c23;
}

.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  color: #00b08b;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

.table th,
.table td {
  border: 1px solid #00b08b;
  padding: 8px;
  text-align: center;
  color: white;
}

.table th {
  background-color: #00b08b;
  color: #333;
  font-weight: bold;
  height: 40px;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.filtersWrapper {
  margin-left: 20px;
  width: 100px;
  height: 50px;
  font-size: 15px;
  color: white;
  border: 2px solid #00b08b;
}

.Sort {
  color: white;
  border: 2px solid #00b08b;
  width: 200px;
  height: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.PaginationButton {
  height: 50px;
  width: 100px;
  color: white;
  font-size: 15px;
  border: 2px solid #00b08b;

}

.LanguageSection {
  display: flex;
  color: white;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LanguageSwitcher {
  color: white;
  border: 2px solid#00b08b;
  margin-left: 10px;
  width: 100px;
}

.footerContent {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer {
  border-top: 3px solid #00b08b;
  border-bottom: 3px solid #00b08b;
}